/* 全体で共通のCSSはこのファイルに記述する */
body {
    background-color: #DADADA;
}

.main.container {
    margin-top: 30px;
}

.huge.fluid.button.green {
    margin-bottom: 30px;
}

.ui.inverted.green.menu {
    background: linear-gradient(-90deg, rgb(54, 211, 91), rgb(116, 221, 11));
}

.ui.inverted.green.menu .activeMenu.item {
    border: none;
    background-color: rgb(0, 0, 0, 0.1);
}

.ui.green.menu .activeMenu.item, .ui.menu .green.activeMenu.item {
    border: none;
}
