<!DOCTYPE html>
<html>
  <head>
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>プロフィール</title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <!-- Vue.jsで読み込む -->
    <div id="app">
            <common-menu current="Profile"></common-menu>
      <div class="ui main container">
        <!-- 基本的なコンテンツはここに記載する -->
        <div class="ui segment">
            <div class="ui info message" v-if="updateComplete">
                <i class="close icon" v-on:click="closeMessage()"></i>
                <div class="header">更新が完了しました。</div>
                    <ul class="list">
                        <li>ニックネーム：{{outData.param.nickname}}</li>
                        <li>パスワード：非表示</li>
                        <li>年齢：{{outData.param.age}}</li>
                    </ul>
            </div>
            <form class="ui large form" v-on:submit.prevent="submit()">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="ID" v-model="user.id" required readonly disabled>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" placeholder="Password" v-model="user.password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="tag icon"></i>
                        <input type="text" placeholder="Nicname" v-model="user.nickname">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="calendar icon"></i>
                        <input type="number" placeholder="Age" v-model="user.age">
                    </div>
                </div>
                <button class="ui huge fluid button green" type="submit">
                    修正
                </button>
            </form>
            <button class="ui huge fluid huge button grey" type="submit" v-on:click="unsubscribe()">
                退会
            </button>
        </div>
      </div>

    </div>

    <!-- APIのURLを読み込むJavaScriptファイル -->
    <script src="./common/config.js" charset="utf-8"></script>
    <script src="./common/menu.js" charset="utf-8"></script>
    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
    <script src="./js/profile.js" charset="utf-8"></script>
  </body>
</html>
